<form action="/action_page.php" class="col-md-4">
    <div class="form-group">
      <label for="item">Item Name:</label>
      <input type="text" class="form-control" id="itemName" placeholder="Item Name" name="itemname" [(ngModel)]= item.name>
    </div>
    <div class="form-group">
      <label for="price">Price:</label>
      <input type="text" class="form-control" id="price" placeholder="Price" name="price" [(ngModel)]= item.price>
    </div>
    <div class="form-group">
        <label for="quantity">Quantity:</label>
        <input type="text" class="form-control" id="quantity" placeholder="Quantity" name="quantity" [(ngModel)]= item.quantity>
      </div>
    <button type="submit" class="btn btn-success" (click)="return()">Update</button>
  </form> 