html, body {
    height: 720px;
    margin: 0;
  }
div {
    text-align: center;
}
#top {
    background-color:rgb(246, 203, 255);
    height: 15%;
    font-size: 40px;
}
.second{
    position: relative;
    height: 80%;
}
.left{
    position: absolute;
    top: 0;
    bottom: 0;
    float: left;
    width: 30%;
    background-color: rgb(224, 243, 187);
    
}
.element{
    border: 1px solid;
    background-color: aqua;
    text-align: center;
    padding: 30px;
    height: 10%;
}
.right{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 10px;
    float: left;
    width: 70%;
    background-color: antiquewhite;
}
footer{
    clear: left;
    position: fixed;
    background-color: gray;
    height: 5%;
    bottom: 0;
    width: 100%;
}